h2
  | Product Details
form
  input(type='text', placeholder='product name', value='#{product.name}')
  br
  input(type='text', placeholder='product price', value='#{product.price}')
  br
  input(type='text', placeholder='product inventory', value='#{product.inventory}')
  br