h2
  | Enter Product Details
  form(method="post", action='/products/')
    input(type='text', placeholder='product name')
    br
    input(type='text', placeholder='product price')
    br
    input(type='text', placeholder='product inventory')
    br
    input(type='submit', value='Submit')